npm-debug.log
Dockerfile
.gitignore
.npmrc
.nyc_output
cron-jobs
elasticmq
node_modules
queues-scripts
coverage
env/.env*
test
connect.sh
docker-compose.yml
README.md
newrelic_agent.log
data/**
Photos.code-workspace
logs/**
.idea/**
.vscode/**
tmp/**
museum.yaml
bin/**
data/
.DS_Store
.git
**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
